* {
    margin: 0;
    padding: 0;
    border: 0;
}

ul,
ol,
li {
    list-style: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    margin: auto auto;
    height: 6vh;
    list-style: none;
}

.menu li {
    width: 125px;
    height: 6vh;
    text-align: center;
}

.menu li a {
    font-size: 22px;
    color: black;
    text-decoration: none;
}

.menu li:hover a {
    color: #514fd9;
}

.menu li:not(:last-child) {
    margin-right: 30px;
}

body {
    width: 100%;
    background-color: #34495e;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.autor-titulo {
    width: 100%;
    display: block;
    font-family: cursive;
    font-size: 2.1rem;
    height: 50vh;
    text-align: center;
}

.autor-cartao {
    text-align: justify;
    width: 50%;
    display: inline-block;
    padding: 0, 0, 0, 0;
    height: 60vh;
}

.autor-contatos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    height: 10vh;
    background-color: #34495e;
}

.autor-contatos:hover {
    color: #514fd9;
}

.autor-contatos-image-url {
    display: inline-block;
}

.autor-contatos div {
    display: inline-block;
    width: 33%;
    text-align: center;
}

.autor-contatos-image {
    display: inline-block;
    max-width: 30%;
}

.autor-resumo {
    text-align: justify;
    width: 50%;
    display: inline-block;
    padding: 0, 0, 0, 0;
    height: 60vh;
    overflow: auto;
}

.autor-resumo h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

.autor-main-languages {
    text-align: center;
    width: 50%;
    height: 7vh;
    display: inline-block;
}

.autor-secondary-languages {
    text-align: center;
    width: 50%;
    height: 7vh;
    display: inline-block;
}

.autor-frameworks {
    text-align: center;
    width: 50%;
    height: 7vh;
    display: inline-block;
}

.autor-tools {
    text-align: center;
    width: 50%;
    height: 7vh;
    display: inline-block;
}